@charset "utf-8";

// Custom fonts
@import url('https://fonts.googleapis.com/css?family=Cairo|Ubuntu');
$family-primary: "Ubuntu", Helvetica, Arial, sans-serif;
$title-family: "Cairo", Helvetica, Arial, sans-serif;

// Custom colors
$primary: #a30008;
$info: $primary;
$link: $primary;
$dark: #7b0b0b;
$text: #000000;
$text-light: #ffffff;
$background: #e0e0e0;
$strava: #FC4C02;

// Responsive image background to fill the parent container
.fullheight-bg {
  background-image: url("images/header1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fullheight-bg-2 {
  background-image: url("images/header3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Tiling textures for backgrounds
.texture-light {
  background: url("images/texture-light.png") repeat 0 0;
}
.texture-dark {
  background: url("images/texture-dark.png") repeat 0 0;
}

// Logo button
.logo-button:hover{
  filter: drop-shadow(0 0 0.75rem #bfbfbf);
}
.logo-button:active{
  transform: translateY(2px);
}

// Recolor svg icons to match the theme
.light-icon {
  filter: invert(100%) sepia(0%) saturate(7463%) hue-rotate(51deg) brightness(96%) contrast(108%);
}
.light-icon:hover {
  filter: invert(99%) sepia(1%) saturate(972%) hue-rotate(344deg) brightness(112%) contrast(76%);
}

// Stick elements to the top of the page
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

// Spinning animation for loading icons
.spin {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(359deg);
  }
}

// Round the edges of iframes
iframe {
  border-radius: 4%;
}

// Import Bulma
@import "public/bulma/sass/utilities/_all.sass";
@import "public/bulma/sass/base/_all.sass";
@import "public/bulma/sass/elements/button.sass";
@import "public/bulma/sass/elements/container.sass";
@import "public/bulma/sass/elements/title.sass";
@import "public/bulma/sass/form/_all.sass";
@import "public/bulma/sass/components/navbar.sass";
@import "public/bulma/sass/layout/hero.sass";
@import "public/bulma/sass/layout/section.sass";
@import "public/bulma/sass/elements/notification.sass";
