@charset "utf-8";

// Custom fonts
@import url('https://fonts.googleapis.com/css?family=Cairo|Ubuntu');
$family-primary: "Ubuntu", Helvetica, Arial, sans-serif;
$title-family: "Cairo", Helvetica, Arial, sans-serif;

// Custom colors
$primary: #a30008;
$info: $primary;
$link: $primary;
$dark: #363636;
$text: #000000;
$text-light: #ffffff;
$background: #e0e0e0;
$strava: #FC4C02;

// Responsive image background to fill the parent container
.fullheight-bg {
  background-image: url("images/header1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fullheight-bg-2 {
  background-image: url("images/header3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Tiling textures for backgrounds
.texture-light {
  background: url("images/texture-light.png") repeat 0 0;
}
.texture-dark {
  background: url("images/texture-dark.png") repeat 0 0;
}

// Logo button
.logo-button:hover{
  filter: drop-shadow(0 0 0.75rem #bfbfbf);
}
.logo-button:active{
  transform: translateY(2px);
}

// Recolor svg icons to match the theme
.light-icon {
  filter: invert(100%) sepia(0%) saturate(7463%) hue-rotate(51deg) brightness(96%) contrast(108%);
}
.light-icon:hover {
  filter: invert(99%) sepia(1%) saturate(972%) hue-rotate(344deg) brightness(112%) contrast(76%);
}

// Stick elements to the top of the page
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

// Dynamic grid for containing route cards
.route-grid {
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, min(350px, 90vw));
}

.route-card-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 0.75rem #bfbfbf;
}

// Spinning animation for loading icons
.spin {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(359deg);
  }
}

// Only wrap text after full words
p {
  word-wrap: break-word;
}

// Import Bulma
@import "public/bulma/bulma.sass";
