<html>
    <body>
        <table
            style="height: 187px; width: 100%; border-collapse: collapse; border-style: none; cellpadding=0; cellspacing=0; border=0"
        >
            <tbody>
                <tr style="height: 73px">
                    <td style="width: 15%; height: 73px">&nbsp;</td>
                    <td style="width: 70%; height: 73px; text-align: center">
                        <h1><strong>This week's riders</strong></h1>
                    </td>
                    <td style="width: 15%; height: 73px">&nbsp;</td>
                </tr>
                <tr style="height: 18px">
                    <td style="width: 15%; height: 18px">&nbsp;</td>
                    <td style="width: 70%; height: 18px; text-align: center">
                        <h3><strong>Coming:</strong></h3>
                    </td>
                    <td style="width: 15%; height: 18px">&nbsp;</td>
                </tr>
                <tr style="height: 18px">
                    <td style="width: 15%; height: 18px">&nbsp;</td>
                    <td style="width: 70%; height: 18px; text-align: center">
                        %YES_LIST%
                    </td>
                    <td style="width: 15%; height: 18px">&nbsp;</td>
                </tr>
                <tr style="height: 18px">
                    <td style="width: 15%; height: 18px">&nbsp;</td>
                    <td style="width: 70%; height: 18px; text-align: center">
                        <h3><strong>Maybe:</strong></h3>
                    </td>
                    <td style="width: 15%; height: 18px">&nbsp;</td>
                </tr>
                <tr style="height: 18px">
                    <td style="width: 15%; height: 18px">&nbsp;</td>
                    <td style="width: 70%; height: 18px; text-align: center">
                        %MAYBE_LIST%
                    </td>
                    <td style="width: 15%; height: 18px">&nbsp;</td>
                </tr>
                <tr style="height: 30px">
                    <td style="width: 15%; height: 30px">&nbsp;</td>
                    <td style="width: 70%; text-align: center; height: 30px">
                        &nbsp;
                    </td>
                    <td style="width: 15%; height: 30px">&nbsp;</td>
                </tr>
                <tr style="height: 23px">
                    <td style="width: 15%; height: 23px">&nbsp;</td>
                    <td style="width: 70%; text-align: center; height: 23px">
                        You are receiving this email because you are registered
                        as an Exeter Cycling Club administrator. If you no
                        longer wish to receive these updates then please contact
                        %ADMIN_EMAIL%.
                    </td>
                    <td style="width: 15%; height: 23px">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
