<html>
  <body>
    <table style="height: 187px; width: 100%; border-collapse: collapse; border-style: none; cellpadding=0; cellspacing=0; border=0">
      <tbody>
        <tr style="height: 73px;">
          <td style="width: 15%; height: 73px;">&nbsp;</td>
          <td style="width: 70%; height: 73px; text-align: center;">
          <h1><strong>Thank you for signing up for email updates from Exeter Cycling Club!</strong></h1>
        </td>
        <td style="width: 15%; height: 73px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 15%; height: 18px;">&nbsp;</td>
          <td style="width: 70%; height: 18px; text-align: center;">
          <h4>Please confirm your subscription by clicking the link below. No further emails will be sent to this address until you have confirmed your subscription.</h4>
          </td>
          <td style="width: 15%; height: 18px;">&nbsp;</td>
        </tr>
        <tr style="height: 30px;">
          <td style="width: 15%; height: 30px;">&nbsp;</td>
          <td style="width: 70%; text-align: center; height: 30px;">&nbsp;</td>
          <td style="width: 15%; height: 30px;">&nbsp;</td>
        </tr>
        <tr style="height: 23px;">
          <td style="width: 15%; height: 23px;">&nbsp;</td>
          <td style="width: 70%; text-align: center; height: 23px;">
            <a
              title="Confirm subscription"
              href="https://ecc.oliver-bilbie.co.uk/confirm?id=%RECIPIENT_ID%"
              target="_blank"
              >Confirm subscription</a
            >
          </td>
          <td style="width: 15%; height: 23px;">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
