<html>
  <body>
    <table
      style="height: 187px; width: 100%; border-collapse: collapse; border-style: none; cellpadding=0; cellspacing=0; border=0"
    >
      <tbody>
        <tr style="height: 73px">
          <td style="width: 15%; height: 73px">&nbsp;</td>
          <td style="width: 70%; height: 73px; text-align: center">
            <h1><strong>%ROUTE_NAME%</strong></h1>
          </td>
          <td style="width: 15%; height: 73px">&nbsp;</td>
        </tr>
        <tr style="height: 18px">
          <td style="width: 15%; height: 18px">&nbsp;</td>
          <td style="width: 70%; height: 18px; text-align: center">
            <img src="%MAP_URL%" alt="Strava Map" width="453" height="189" />
          </td>
          <td style="width: 15%; height: 18px">&nbsp;</td>
        </tr>
        <tr style="height: 18px">
          <td style="width: 15%; height: 55px">&nbsp;</td>
          <td style="width: 70%; height: 55px; text-align: center">
            <h3>
              <strong>Distance:</strong> %DISTANCE% -
              <strong>Elevation:</strong> %ELEVATION_GAIN%
            </h3>
          </td>
          <td style="width: 15%; height: 55px">&nbsp;</td>
        </tr>
        <tr style="height: 18px">
          <td style="width: 15%; height: 18px">&nbsp;</td>
          <td style="width: 70%; height: 18px; text-align: center">
            %DESCRIPTION%
          </td>
          <td style="width: 15%; height: 18px">&nbsp;</td>
        </tr>
        <tr style="height: 23px">
          <td style="width: 15%; height: 23px">&nbsp;</td>
          <td style="width: 70%; text-align: center; height: 23px">
            <a
              title="View"
              href="http://eccv2.oliver-bilbie.co.uk.s3-website-eu-west-1.amazonaws.com/ride"
              target="_blank"
              >View on our website</a
            >
          </td>
          <td style="width: 15%; height: 23px">&nbsp;</td>
        </tr>
        <tr style="height: 30px">
          <td style="width: 15%; height: 30px">&nbsp;</td>
          <td style="width: 70%; text-align: center; height: 30px">&nbsp;</td>
          <td style="width: 15%; height: 30px">&nbsp;</td>
        </tr>
        <tr style="height: 73px">
          <td style="width: 15%; height: 73px">&nbsp;</td>
          <td style="width: 70%; height: 73px; text-align: center">
            <h2><strong>Let us know you're coming</strong></h2>
          </td>
          <td style="width: 15%; height: 73px">&nbsp;</td>
        </tr>
        <tr style="height: 23px">
          <td style="width: 15%; height: 23px">&nbsp;</td>
          <td style="width: 70%; text-align: center; height: 23px">
            <a
              title="YesStatus"
              href="http://eccv2.oliver-bilbie.co.uk.s3-website-eu-west-1.amazonaws.com/status?id=%RECIPIENT_ID%&status=Y"
              target="_blank"
              >I'll be there!</a
            >
          </td>
          <td style="width: 15%; height: 23px">&nbsp;</td>
        </tr>
        <tr style="height: 23px">
          <td style="width: 15%; height: 23px">&nbsp;</td>
          <td style="width: 70%; text-align: center; height: 23px">
            <a
              title="MaybeStatus"
              href="http://eccv2.oliver-bilbie.co.uk.s3-website-eu-west-1.amazonaws.com/status?id=%RECIPIENT_ID%&status=M"
              target="_blank"
              >Maybe</a
            >
          </td>
          <td style="width: 15%; height: 23px">&nbsp;</td>
        </tr>
        <tr style="height: 30px">
          <td style="width: 15%; height: 30px">&nbsp;</td>
          <td style="width: 70%; text-align: center; height: 30px">&nbsp;</td>
          <td style="width: 15%; height: 30px">&nbsp;</td>
        </tr>
        <tr style="height: 23px">
          <td style="width: 15%; height: 23px">&nbsp;</td>
          <td style="width: 70%; text-align: center; height: 23px">
            Please do not reply to this email. You are receiving this email
            because you signed up for alerts from Exeter Cycling Club. If you no
            longer wish to receive these updates then you may unsubscribe using
            the link below.
          </td>
          <td style="width: 15%; height: 23px">&nbsp;</td>
        </tr>
        <tr style="height: 23px">
          <td style="width: 15%; height: 23px">&nbsp;</td>
          <td style="width: 70%; text-align: center; height: 23px">
            <a
              title="Unsubscribe"
              href="http://eccv2.oliver-bilbie.co.uk.s3-website-eu-west-1.amazonaws.com/unsubscribe?id=%RECIPIENT_ID%"
              target="_blank"
              >Unsubscribe</a
            >
          </td>
          <td style="width: 15%; height: 23px">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
